# Ignorer tous les fichiers .log
*.log

# Ignorer un dossier spécifique
admin/
config/
image/


# Ignorer un fichier spécifique dans le répertoire racine
/dockerfile
/docker-compose.yml


# Ignorer tous les fichiers dans un dossier spécifique
dossier/*

# Garder les fichiers Docker mais ignorer les données
# Dockerfile
# docker-compose.yml
mysql/data/