# Variables d'environnement
.env

# Fichiers de log
*.log

# Dossiers temporaires
tmp/
temp/

# Données MySQL
mysql/data/

# Fichiers Docker (optionnel selon ton choix)
/dockerfile
/docker-compose.yml

# Dossiers spécifiques si nécessaire
image/
dossier/*