h1 {
  text-align: center;
  font-size: var(--h1-size);
  text-transform: uppercase;
}

legend {
  font-size: var(--h3-size);
  text-decoration: underline;
  text-align: start;
  padding: 5px;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;
  border-radius: 20px;
  border: solid 8px var(--accent);
  background-color: var(--white);
  color: var(--secondaire);
  text-transform: uppercase;
  padding: 10px;
}
fieldset input {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  margin: 10px 60px 0 60px;
}

.btn_covoit {
  padding: 10px;
  font-size: var(--p-size);
  background-color: var(--accent);
  color: var(--white);
  border-radius: 10px;
}
.btn_covoit:hover {
  background-color: var(--primaire);
  color: var(--accent);
  transform: scale(1);
  font-size: var(--h3-size);
  cursor: pointer;
  font-weight: bold;
}
