.footer {
  bottom: 0;
  width: 100%;
  font-family: var(--font-body);
  font-size: var(--p-foot);
}

.informations {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}

a {
  color: var(--secondaire);
  text-decoration: initial;
  font-weight: initial;
  font-size: var(--p-foot);
}

.a :hover {
  color: var(--accent);
  transform: scale(2);
}

.informations :hover {
  transform: scale(1.5);
}
